html{
    background-color: #222222;
}

p {
    line-height: 2rem;
}

.footer {
    margin-top: 2rem;
    background-color: black;
    color: white;
}

#logo, strong {
    color: #777777;
}

section.hero {
    background-image: linear-gradient(rgba(255, 120, 185, .3), rgba(0, 0, 0, 1));
}

.container > .navbar .navbar-menu, .navbar > .container .navbar-menu {
    margin-right: 0;
}

.title {
    margin-top: 1.5rem;
    padding: 2rem 0;
}

.hero-body {
    padding: 5rem 1.5rem;
}

.field-label {
    text-align: left;
}

.navbar-item {
    padding: .5rem 2rem;
}

.navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link{
    background-color: #555555;
}


.navbar-menu, .navbar-dropdown, .navbar-link:hover, .navbar {
    background-color: black;
}

a.navbar-item:hover, .navbar-dropdown a.navbar-item:hover, .navbar-link:hover, .navbar-dropdown a.navbar-item.is-active {
    color: #FF3194;
    background-color: #555555;
}

.navbar-item, .navbar-link, p, .label, label {
    color: #ffffff;
}

a.navbar-item.is-active, .title, footer a {
    color: #FF3194;
}

.input, .select select, .textarea {
    background-color: #555555;
    color: black;
}

